:root {
    --accent-color: #8f6afe;
    --accent-color--dark: #616CCC;
    --accent-color--darker: #545EBA;
    --accent-color--light: #959DE8;
    --accent-color--lighter: #A7A7FB;

    --background-color: #f5f4f8;
    --background-color--accent: #ffffff;
    --select-background-color--hover: #e8e8e8;

    --text-color: #353535;
    --text-color--light: #979797;
    --stroke-color: #D9D9D9;

    --green: #45B73B;
    --blue: #263ED4;
    --red: rgb(198, 48, 49);

    --button-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 25%);
    --circle-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    --aside-nav-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    --input-box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
    --submit-button-box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3);
    --error-box-shadow: 0 4px 12px rgba(198, 48, 49, 0.3);

    --font-size--text: 16px;
    --font-size--p: 20px;
    --font-size--sub-categories: 22px;
    --font-size--categories: 24px;
    --font-size--page-title: 34px;
    --font-size--stats: 40px;
}