.block-header{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--background-color--accent);
  font-size: var(--font-size--page-title);
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  &.review-header{
    background-color: var(--accent-color--lighter);
  }
}