.ui-button {
  width: 100%;
  background: var(--accent-color);
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  color: white;
  font-size: var(--font-size--p);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: var(--submit-button-box-shadow);
  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: scale(1.05);
  }
  &.expand-button{
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: fit-content;
    padding: 10px 15px;
    margin-bottom: 48px;

    color: var(--background-color--accent);
    background: var(--accent-color--darker);
    box-shadow: var(--button-box-shadow);
    &:hover {
      transform:initial;
    }
    &:active {
      transform:initial;
    }
  }
  &.header-button{
    font-size: var(--font-size--p);
    padding: 8px;
    margin: 0;
    width: stretch;
    text-transform: initial;
  }
  &.transparent{
    font-size: var(--font-size--text);
    width: initial;
    text-transform: initial;
    margin: 0;
    padding: 8px 16px;
    background: transparent;
    color: var(--text-color--light);
    box-shadow: initial;
    &.active{
      color: var(--accent-color);
      &:hover{
        color: var(--accent-color);
      }
    }
    &:hover {
      transform:initial;
      color: var(--text-color);
    }
    &:active {
      transform:initial;
    }

    &.pagination-btn{
      color: var(--text-color);
      font-size: var(--font-size--categories);
      &:hover{
        color: var(--accent-color);
      }
      &:disabled{
        color: var(--text-color--light);
      }
    }
  }
  &.table-controls{
    width: fit-content;
    background: var(--accent-color--lighter);
    &:hover{
      background: var(--accent-color);
    }
  }

}

.tool-bar .transparent{
  padding: 0;
}