.dashboard{
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 1fr auto;
  gap: 20px;
  grid-template-areas:
    "block1 block3"
    "block2 block3";

  width: 100%;
  height: 100%;

  & h3{
    font-size: var(--font-size--categories);
  }

  & .dashboard--chart{
    background-color: var(--background-color--accent);
    border-radius: 10px;
    grid-area: block1;
    height: 100%;

  }
  & .dashboard--category{
    grid-area: block2;
    display: grid;
    align-items: center;
    height: fit-content;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  & .dashboard--stats{
    padding: 20px;
    background-color: var(--background-color--accent);
    grid-area: block3;
    border-radius: 10px;

  }
}