.category-block{
  display: flex;
  flex-direction: column;
  gap: 40px;
  & .category{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & .category-description{
      padding: var(--padding-card-large);
      border-radius: var(--border-radius-l);
      background: var(--background-color);
    }
  }
}

