.BudgetChartHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  & h3{
    margin: 0;
  }
  & .ui-tools{
    display: flex;
    gap: var(--gap-dashboard-control);
    flex-wrap: wrap;
    row-gap: 0;
    align-content: center;
    justify-content: flex-end;
    font-size: var(--font-size--text);
    color: var(--text-color--light);
    & .plan-complete-difference{
      display: flex;
      gap:var(--gap-dashboard-controls);
      color: var(--text-color);
      & span{
        display: flex;
        align-items: center;
        gap: var(--gap-xs);
        &::before{
          content: "\2022";
          font-size: var(--font-size--categories);
          color: var(--accent-color);
        }
        &.plan::before{
          color: var(--accent-color--lighter);
        }
      }
    }

  }
}