.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-wrapper input {
  background: var(--background-color--accent);
  border: 2px solid var(--stroke-color);
  border-radius: 8px;
  padding: 16px;
  color: var(--text-color);
  font-size: var(--font-size--p);
  font-weight: 400;
  transition: all 0.3s ease;
  width: 100%;
  outline: none;
}

.input-wrapper input:focus,
.input-wrapper input.has-value{
  border-color: var(--accent-color);
  box-shadow: var(--input-box-shadow);
}

.input-wrapper input:focus + label,
.input-wrapper input.has-value + label{
  transform: translateY(-36px) translateX(-12px) scale(0.85);
  color: var(--accent-color);
  font-weight: 600;
  padding: 0 8px;
}

.input-wrapper label {
  position: absolute;
  inset: 20px;

  color: var(--text-color--light);
  font-size: var(--font-size--text);
  font-weight: 500;
  transition: all 0.3s ease;
  pointer-events: none;
  transform-origin: left top;
}

.input-wrapper input:focus ~ .input-border {
  width: 100%;
}



input[type="password"] {
  padding-right: 50px;
}

.password-toggle {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: var(--text-color--light);

  transition: all 0.3s ease;
  border-radius: 6px;
  z-index: 2;
}

.password-toggle:hover {
  background: var( --accent-color--light);
}

.toggle-icon {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%2364748b' stroke-width='1.5'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z'/%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z'/%3e%3c/svg%3e");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
}
.toggle-icon.show-password {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%2364748b' stroke-width='1.5'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 11-4.243-4.243m4.242 4.242L9.88 9.88'/%3e%3c/svg%3e");
}