.hamburger-menu{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 9999;
  & .hamburger-menu__toggle{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9998;
  }
  & nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-150%);
    transition: 0.3s;
    overflow: hidden;
    background: var(--accent-color);
    z-index: 9997;
    padding:100px 0;
    & li{
      padding: 10px 50px;
      text-wrap-mode: nowrap;
      font-size: var(--font-size--text);
    }
  }

  &.is-open nav{
    transform: initial;
    //width: 200px;
  }
}