.custom-select {
  position: relative;
  width: 100%;
  font-size: var(--font-size--p);
  .select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-xs);
    padding: var(--padding-button-small);
    border-radius: var(--border-radius-m);
    cursor: pointer;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    &.transparent{
      color: var(--accent-color);
    }
    &.open .arrow{
        transform: rotate(-135deg);
    }
    .arrow {
      width: var(--select-arrow-size);
      height: var(--select-arrow-size);
      border-right: 2px solid var(--accent-color);
      border-bottom: 2px solid var(--accent-color);
      transform: rotate(45deg);
      transition: transform 0.3s ease, margin 0.3s ease;
      margin-bottom: 2px;
    }
  }

  .select-dropdown {
    position: absolute;
    top: calc(100% + var(--select-arrow-size));
    left: 0;
    right: 0;
    background-color: var(--background-color--accent);
    border: 1px solid var(--stroke-color);
    box-sizing: var(--button-box-shadow);
    border-radius: var(--select-arrow-size);
    z-index: 100;
    width: fit-content;
    max-height: 240px;
    overflow-y: auto;
    padding: var(--padding-card-small) 0;
    animation: slideDown 0.2s ease-out forwards;

  }

  .select-option {
    padding: var(--padding-button);
    color: var(--text-color);
    font-size: var(--font-size--text);
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {
      background-color: var(--select-background-color--hover);
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}