.info-card {
  &__list {
    background-color: var(--background-color--accent);
    color: var(--text-color);
    font-size: var(--font-size--p);
    border-radius: var(--border-radius-m);
    padding: var(--padding-card);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
    min-width: min(100%, 450px);
    max-height: max-content;

    & .header{
      padding: var(--padding-card) 0;
      display: flex;
      width: 100%;
      height: 70px;
      justify-content: space-between;
      align-items: center;
      & .tool-bar{
        display: flex;
        gap: var(--gap-xs);
      }
    }
  }
  &__row {
    display: grid;
    grid-template-columns: auto 1fr;;
    gap: var(--gap-xs);
    padding: var(--padding-info-card-stroke);
    border-bottom: 1px solid var(--stroke-color);
    font-size: var(--font-size--text);
    & dt{
      text-transform: capitalize;
      font-weight: 600;
    }
    &:last-child {
      border-bottom: none;
    }
    & .info-card__desc{
      overflow-wrap: anywhere;
      border: 2px solid transparent;
      text-transform: capitalize;
    }
  }
}
