.row-table{
  width: 100%;
  max-width: stretch;
  border-collapse: collapse;
  & tr {
    transition: 0.3s;
    border-bottom: 1px solid var(--stroke-color);
    &:hover{
      background-color: var(--background-color);
    }
    & th,& td {
      text-transform: capitalize;
      text-align: left;
      padding: var(--padding-block-header);
    }
  }
}
