.side-navigation{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 30px;
  &.navigation-panel{
    background: var(--accent-color);
    border-radius: 0 10px 10px 0;
    & .nav-button{
      border-left: 4px solid var(--accent-color);
      transition: 0.3s ease;
      background-color: transparent;
      &:hover{
        background-color: var(--accent-color--light);
        border-color: var(--accent-color--darker);
      }
    }
  }
  &.user-panel{
    border-radius: 10px 0 0 10px;
    box-shadow: var(--aside-nav-box-shadow);
  }
  & .nav-button, & li, & button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .nav-button{
    padding: 10px 40px;
    width: max-content;
    height: fit-content;
    & svg{
      width: 30px;
      height: 30px;
    }
  }
}