.product-details{
  background: var(--background-color--accent);
  border-radius: var(--border-radius-l);
  & .details {
    margin: var(--padding-card-large);
    font-size: var(--font-size--p);
  }
  & ul{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    & li{
      font-size: var(--font-size--p);
      font-weight: 600;
      text-transform: capitalize;
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: var(--padding-category-button);
      border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
      border: 1px solid transparent;
      border-bottom: 1px solid var(--accent-color--lighter);
      &.active{
        border: 1px solid var(--accent-color--lighter);
        border-bottom: 1px solid transparent;
      }
    }
  }
}