.product-details{
  background: var(--background-color--accent);
  border-radius: var(--border-radius-l);
  overflow: auto;
  & .details {
    margin: var(--padding-card-large);
    font-size: var(--font-size--p);
  }
}